<!doctype html>

<html lang="en">

	<head>

		<title>Assignment</title>

		<meta charset="UTF-8" />
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
			});
		</script>
		
		STYLE_TAG

	</head>

	<body>

		<div class="page" id="page">

			<div class="assignment">

			    <div class="textintro">
		            <div class="heading">ASSIGNMENT_TITLE (ASSIGNMENT_CHAPTER)</div>
		            <div class="heading">ASSIGNMENT_DIVISIONS (ASSIGNMENT_SUBJECT)</div>
		            <div class="heading">ASSIGNMENT_MARKS Marks, Deadline : ASSIGNMENT_DEADLINE</div>
			    </div>

			    <div class="shadow-div">

			        <div class="row">
			        	ASSIGNMENT_QUESTION_REPEATER
					</div>

			    </div>

			</div>

		</div>

	</body>

</html>